* {
  border: none;
  color: rgb(58, 58, 58);
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
